@import url(https://necolas.github.io/normalize.css/latest/normalize.css);

html {
  font-size: 10px;
  font-family:'Open Sans', sans-serif;
  background-color: #dddddd;
}

body{
  margin-bottom: 300px;
}

h1 {
  font-family: 'Raleway';
  font-weight:100;
  font-size: 24px;
  text-align:center;
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
}


ul{
list-style: none;
}

li{
font-size: 12px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 1px;
}

html {
  background-color: #dddddd;
}



/** L3: font  **/
.brief {
  /**
  color: 文字顏色
  可使用
  1. 關鍵字：pink, purple, red ......
  2. 色碼：#c8c8c8, #ffffff .......
  3. rgb：rgb(50, 50, 50)
  4. rgba：rbga(50, 50, 50, 0.5);
  5. 其他不常見的：hsl, hsla

  ps. 在 css 中，0.5 可以簡寫為 .5

  https://developer.mozilla.org/en-US/docs/Web/CSS/color
  */
  /**
   font-family: 字體
   以逗號分隔,有兩個字以上要以單引號或雙引號包起來
   可使用
   1. 字體名稱
   2. 字體檔名
   3. 字體種類：serif, sans-serif
   4. 系統預設：system-ui

   https://developer.mozilla.org/en-US/docs/Web/CSS/font-family
  */
  font-family: 'Open Sans', sans-serif;

  /**
  font-size: 字體大小
  定義是大寫 M 頂端到底端的長度
  數值可以是
  1. 絕對數值：18px
  2. 相對父層數值：1.5em, 150%
  3. 相對根層數值：1.5rem (跟層：最上層>瀏覽器預設)
  */
  font-size: 16px;

  /**
  font-weight: 字重
  數值可以是
  1. 數值：100 200 300 ... 900
  2. 關鍵字：lighter, normal, bold, bolder
  */

  /**
  font-style: 字體樣式
  可以是：
  1. normal;
  2. italic;

  https://developer.mozilla.org/en-US/docs/Web/CSS/font-style
  */
  font-style:;/*obique*/

  /**
  line-height：行高
  每一行的高度
  可以是
  1. 數值：18px, 3em
  2. 相對值： 150%, 1.5
  */
  line-height: 2;
  font-weight: 100;
}

/**
載入字型檔
可自訂字型，將指定的字型檔，對應到樣式、字重
*/
@font-face {
  font-family:'Noto Sans TC';
  src: url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format("opentype");
}

.special-font {
  font-family: 'Noto Sans TC';
  font-size: 9px;
  font-weight: 900;
  text-align: center;
}
